html {
    font-family: 'Montserrat';
}

.inputInfo {
    width: 428px;
    height: 400px;
    margin: 15% auto;
    border-radius: 10px;
}

.inputInfo, form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.inputInfo, #upperBar {
    background-color: #6495ED;
}

input, label {
    background-color: #F3F3F3;
    border-radius: 4px;
}

input, button, label {
    width: 240px;
    height: 42px;
    margin: 10px 0px;
    box-sizing: border-box;
    border: 0px;
}

button {
    width: 100px;
    background: #EDBC64;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    cursor: pointer ;
}

h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #fff;
}

input::placeholder{
    color: #c0c0c0;
    font-weight: 100;
    font-size: 15px;
}

#userProfilePicture img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

#upperBar {
    display: flex;
    justify-content: space-between;
}

#userInfo {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    color: white;
    padding: 10px;
}

.logoutButton {
    padding: 10px;
}

.logoutButton button {
    cursor: pointer;
}

.pageBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
body, html {
    background-color: #f9f9f9;
}

#createPostContainer {
    margin-top: 25px;
    margin-bottom: 20px;
}

#createPostContainer, #createPostInput {
    display: flex;
    width: 601px;
    height: 97px;
    background-color: white;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 25%);
    box-sizing: border-box;
}

#createPostContainer:focus, #createPostInput:focus {
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
}

#createPostInput {
    margin: 0px;
    font-family: inherit;
    font-size: medium;
}

#createPostButton {
    margin: 11% 0% 0 -6%;
    width: 25px;
    height: 25px;
    color: white;
    background: #EDBC64;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
}

.wholePostDiv {
    display: flex;
    width: 601px;
    min-height: 150px;
    max-height: fit-content; 
    background-color: white;
    margin: 10px 0px;
    box-shadow: 0px 3px 4px rgb(0 0 0 / 25%);
    justify-content: space-evenly;
}

.postOwnerImg, .postOwnerImg img {
    width: 60px;
    height: 60px;
}
.postOwnerImg {
    margin: 15px;
}

.postOwnerImg img {
    border-radius: 50%;
}

.postInfo {
    margin: 10px;
    width: 68%;
}

.postInfo h4 {
    font-size: large;
    font-weight: 700;
}

.postInfo p {
    font-size: smaller;
    font-weight: 400;
    margin-top: 10px;
}

.postDetails {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.postDetails h5 {
   margin: 10px 0px;
}

.editPostLink {
    color: #6495ED;
}

.deletePostLink {
    color: #ED6464;
}

.editPostLink, .deletePostLink {
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
}

.postCreatedAt {
    color: #989898;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
}